/*
Composite Template 
http://www.templatemo.com/preview/templatemo_444_composite
*/

body {
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	position: relative;
}

/* start templatemo page container */
@media (min-width: 768px) {
	.container {
		width: 700px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 900px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1000px;
	}
}

/* end templatemo page container */

.blue {
	color: #06C;
}

.green {
	color: #090;
}

/* start templatemo navigation */
.navbar-default {
	background: #FFF;
	border: none;
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
	margin: 0;
}

.navbar-default .navbar-brand {
	font-weight: 600;
	font-size: 30px;
	padding: 10px 0 0 0;
	height: 65px;
	line-height: 40px;
}

.navbar-default .navbar-brand:hover {
	color: #007bff;
}

.navbar-default .nav li a {
	color: #333;
	font-size: 14px;
	font-weight: 700;
	height: 65px;
	line-height: 38px;
	-webkit-transition: all 3s ease;
	transition: all 0.3s ease;
}

.navbar-default .nav li a:hover {
	background-color: #007bff;
	color: #FFF;
}

.navbar-default .nav li a:focus {
	color: #303030;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #FFF;
	background-color: #007bff;
}

.navbar-default .navbar-toggle {
	border: none;
	padding-top: 18px;
}

.navbar-default .navbar-toggle .icon-bar {
	background: #007bff;
	border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: transparent
}

/* end templatemo navigation */

/* start templatemo header background slideshow */
#home {
	padding-top: 65px;
}

.flexslider {
	margin: 0 0 60px;
	background: #fff;
	padding: 0;
	position: relative;
	zoom: 1;
	background-color: #371604;
	overflow: hidden;
	margin: 0;
}

.flexslider .slides {
	padding: 0;
	zoom: 1;
}

.flexslider .slides img {
	width: 100%;
	min-width: 648px;
	min-height: 270px;
	display: block;
}

.flexslider .slides>li {
	display: none;
	padding: 0;
	position: relative;
	-webkit-backface-visibility: hidden;
}

.flexslider img {
	position: relative;
	width: 100%;
}

.slider-caption {
	color: white;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	text-transform: uppercase;
	z-index: 7;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.templatemo-slider-btn {
	background: #ffa400;
	border-radius: 0;
	border: 2px solid transparent;
	color: #FFFFFF;
	font-weight: bold;
	margin: 40px 0 0 0;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	height: 50px;
	width: 250px;
	padding: 12px 10px 10px 10px;
}

.templatemo-slider-btn:hover,
.templatemo-slider-btn:focus {
	background: #fff;
	color: #ffa400;
	border: 2px solid transparent;
}

.info-box {
	background: rgba(250, 250, 250, 0.3);
	padding: 30px;
	border-radius: 10px;
	color: white;
	max-width: 80%;
	/* max-height: auto; */
	margin: 0 auto;
}

.info-box p {
	margin: 10px 0;
	font-size: 18px;
}

.info-box p strong {
	font-size: 22px;
}


/* start templatemo footer */
footer {
	border-top: 1px solid #404040;
	background: #202020;
	color: #FFF;
	align-items: center;
	padding: 30px 0 20px 0;
	display: flex;
	justify-content: center;
}

.university-info {
	display: flex;
	align-items: center;
}

.university-logo {
	width: 60px;
	height: 60px;
	margin-right: 10px;
	border-radius: 50%;
}

.university-details {
	text-align: left;
}

.university-name {
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	margin: 0;
	text-align: center;
}

.university-address {
	font-size: 12px;
	margin: 0;
	color: #ccc;
	/* Light gray color for address */
}

/* end templatemo footer */

/* starttemplatemo  go top */
.go-top {
	background-color: #ffa400;
	border-radius: 50%;
	bottom: 2em;
	right: 2em;
	color: #FFF;
	display: none;
	position: fixed;
	text-decoration: none;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.go-top:hover {
	color: #F9F9F9;
}

/* end templatemo go top */

@media only screen and (max-width: 1199px) {
	.flexslider h1 {
		font-size: 30px;
	}

	.flexslider h2 {
		font-size: 24px;
	}
}

/* start templatemo 768 media quires */
@media only screen and (max-width: 768px) {
	.navbar-default .navbar-brand {
		margin-left: 20px;
	}

	.navbar-default .navbar-nav {
		margin: 0;
	}

	.navbar-default .navbar-collapse {
		padding-left: 20px;
		padding-right: 20px;
	}

	.flexslider h1 {
		font-size: 26px;
	}

	.flexslider h2 {
		font-size: 18px;
	}

	.templatemo-slider-btn {
		margin-top: 10px;
		width: 180px;
		height: 40px;
		padding-top: 8px;
	}

	.info-box {
		padding: 20px;
		/* Reduce padding for smaller screens */
		max-width: 95%;
		/* Adjust max-width for smaller screens */
	}

	.info-box p {
		font-size: 16px;
		/* Adjust font size for smaller screens */
	}

	.info-box p strong {
		font-size: 20px;
		/* Adjust font size for smaller screens */
	}

	.templatemo-slider-btn {
		width: 200px;
		/* Adjust button width for smaller screens */
		padding: 10px;
		/* Adjust button padding for smaller screens */
	}
}

/* end templatemo 768 media quires */

/* start templatemo 680 media quires */
@media only screen and (max-width: 680px) {
	.navbar-default .navbar-nav li a {
		border-bottom: 1px solid #f6f6f6;
		line-height: normal;
		height: 40px;
	}

	/* end templatemo 680 media quires */

	/* start templatemo 600 media quires */
	@media only screen and (max-width: 640px) {
		.flexslider h1 {
			font-size: 20px;
		}

		.flexslider h2 {
			font-size: 14px;
		}

		.templatemo-slider-btn {
			width: auto;
			height: auto;
			padding: 10px 20px;
			margin-top: 10px;
		}
	}

	/* end templatemo 600 media quires */
